{
    "hard_coded_contacts": ["104.248.175.190:8000"],
    "whitelisted_node_ips": null,
    "whitelisted_client_ips": null,
    "tcp_acceptor_port": null,
    "force_acceptor_port_in_ext_ep": true,
    "service_discovery_port": null,
    "bootstrap_cache_name": null,
    "network_name": null,
    "dev": {
	"disable_external_reachability_requirement": true
    }
}
